body {
    font-family: sans-serif;
}

.circle {
    width: 60px;
    height: 250px;
    border: 30px double #594cd8; 
    background-color: #FFD440;
    border-radius: 50%;
}

h1 {
    position:absolute;
    top:60px;
    left:50px;
    font-size: 70px;
    background-color: #FF9A00;
    padding: 10px;
    border-radius: 20px;
    color: #2618b1;
}
.circle:hover{
   border: 30px double #FFD440;
   background-color:#594cd8;

}
p{
    color:blue;
}
